<!-----------------------------------------------------------
-
- Sololearn Code API - A API to grab best codes from Sololearn
- Copyright(C) 2022 - 2023 Prathamesh Thorat (thoratprathamesh1729@gmail.com)
-
- This software is provided 'as-is', without any express or implied warranty.
- In no event will the authors be held liable for any damages arising from the use of this software.
-
- Permission is granted to anyone to use this software for any purpose,
- including commercial applications, and to alter it and redistribute it freely,
- subject to the following restrictions:
-
- 1. The origin of this software must not be misrepresented
- you must not claim that you wrote the original software.
- If you use this software in a product, an acknowledgment
- in the product documentation would be appreciated but is not required.
-
- 2. Altered source versions must be plainly marked as such,
- and must not be misrepresented as being the original software.
-
- 3. This notice may not be removed or altered from any source distribution.
-
------------------------------------------------------------->

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="author" content="Prathamesh Thorat">
<meta name="description"
    content="Sololearn Code API is API which provides the data of top 10K trending codes on sololearn which is scrapped with help of python">
<meta name="keywords" content="HTML, CSS, JavaScript, Sololearn, API, Sololearn Code API, Fun API,  Scrapping, Python">

<link rel="apple-touch-icon" sizes="57x57" href="/icon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/icon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/icon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/icon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/icon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/icon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/icon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/icon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="/icon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/icon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
<link rel="manifest" href="/icon/manifest.json">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="/icon/ms-icon-144x144.png">
<meta name="theme-color" content="#8400e2">

<link rel="stylesheet" href="/css/header.css">
{{#if style}}
<link rel="stylesheet" href="/css/{{style}}.css">
{{/if}}
<link rel="stylesheet" href="/css/footer.css">

{{#if title}}
<meta property="og:title" content="{{title}} : Sololearn Code API" />
{{else}}
<meta property="og:title" content="Sololearn Code API" />
{{/if}}
<meta property="og:type" content="website" />
{{#if title}}
<meta property="og:title" content="{{title}} : Sololearn Code API" />
{{else}}
<meta property="og:title" content="Sololearn Code API" />
{{/if}}
<meta property="og:image" content="https://sl-code-api.herokuapp.com/icon/favicon-96x96.png" />

{{#if title}}
<title>{{title}} : Sololearn Code API</title>
{{else}}
<title>Sololearn Code API</title>
{{/if}}